In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('Churn.csv')

In [2]:
x = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis = 1))
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [3]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=.2)

In [4]:
x_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
300,0,1,73.6,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3531,0,17,69.0,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1216,0,3,80.3,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5077,0,33,93.8,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4510,0,1,84.3,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
y_train.head()

300     0
3531    0
1216    0
5077    0
4510    0
Name: Churn, dtype: int64

In [6]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [8]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(x_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [10]:
#compiling our model using three key values, loss, optimizer and metrics. Loss is the sum of how far our estimations are to sink a battleship. 
# Optimizer is how we choose to search for the battleship i.e. in a grid pattern or zigzag
#metrics is how we evaluate how our model is performing
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

In [11]:
model.fit(x_train, y_train, epochs=200, batch_size=32)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).